.landing-page-container{
    background-color: #D04949;
}

.landing-page-wrapper{
    padding: 230px 0 30px;
    color: #fff;
}
.ig-videos{
    margin-top: 10px;
    padding-bottom: 20px;
}
.get-access{
    padding: 8px 30px;
    background-color: #ffffff54;
    border-radius: 30px;
    margin-top: 10px;
}